<head>
    <!-- CSS -->
    <!-- To use static files in ejs files, must "use" them through the "static" middleware in our main js file. -->
    <link rel="stylesheet" href="/public/assets/styles.css">
</head>

<body>
    <!-- Form for adding a new head of state to the mongodb database -->
    <h1>Add Head of State</h1>

    <!-- Display errors using ejs template.-->
    <!-- errors is passed in with the get method. -->
    <% if (errors !=undefined) { %>
        <ul>
            <% errors.forEach( (error)=> { %>
                <li>
                    <%= error.msg %>
                </li>
                <% }) %>
        </ul>
        <% } %>

            <!-- Form for adding a head of state -->
            <!-- Uses EJS data-binding to remember inputs if the page needs to be rendered again, if there are errors. Default values must be passed in -->
            <form action="/AddHead" method="POST" width="200">
                <!-- Code -->
                <p>
                    <label>Country Code:</label>
                    <input value="<%= co_code %>" name="code">
                </p>
                <!-- Name -->
                <p>
                    <label>Head of State:</label>
                    <input value="<%= headOfState %>" name="head">
                </p>
                <input type="submit" value="Add Record">
            </form>

            <!-- Link back to home -->
            <a href="http://localhost:3007/">Home</a>
</body>