<h1>Edit Country</h1>

<!-- Display errors using ejs template.-->
    <!-- errors is passed in with the get method. -->
    <% if (errors != undefined) { %>
        <ul>
            <% errors.forEach( (error) => { %>
                <li> <%= error.msg %> </li>
            <% }) %>  
        </ul>
    <% } %>

<!-- Form for updating a country record on the MySQL DB. -->
<!-- Uses EJS to display the details from the passed in object. -->
<!-- Submit sends a post request to /edit, we can get the data from these inputs using their name attributes as handles -->
<form action="/edit" method="POST">
    <!-- Code -->
    <!-- This field is greyed out since it wouldn't make sense for the user to be able to change it -->
    <!-- 2 ways to do this: disabled and readonly, but disabled stops you from even getting the value programmatically, so we use readonly -->
    <label>Code:</label>
    <input value="<%= country.co_code %>" name="code" readonly> <br>
    <!-- Name -->
    <label>Name:</label>
    <input value="<%= country.co_name %>" name="name"> <br>
    <!-- Details -->
    <label>Details:</label>
    <textarea rows="4" cols="60" name="details"><%= country.co_details %></textarea> <br>
    <!-- Submit Button -->
    <input type="submit" value="Update Record">
</form>

<!-- Link back to home -->
<br></br><a href="http://localhost:3007/">Home</a>