<!-- This page is used to display errors in a consistent and user-friendly manner - error variable must be given value when it is rendered -->
<H1>Error Display</H1>

<!-- Show error here -->

<!-- Link back to home -->
<a href="http://localhost:3007/">Home</a>