<!-- This page is used to display errors in a consistent and user-friendly manner. Home button, etc. - 
        errorMessage string must be given value when it is rendered -->
<h1>Error Display</h1>

<!-- Show error here -->
<h2>
    <%=errorMessage%>
</h2>

<!-- Link back to home -->
<a href="http://localhost:3007/">Home</a>