<!-- Index page, contains links to other pages. -->
<h1>Index</h1>
<h3>MySQL</h3>
<p><a href="http://localhost:3007/ListCountries">List Countries</a></p>
<p><a href="http://localhost:3007/ListCities">List Cities</a></p>
<h3>MongoDB</h3>
<p><a href="http://localhost:3007/ListHeadsOfState">List Heads of State</a></p>

